<!-- ngIf fonctionne comme un if classique, si une variable est indiquée, le if s'active lorsque la variable existe -->

<div *ngIf="hero">
  <div class="form-container">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div class="form" [hidden]="submitted">
      <form [formGroup]="heroForm" fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="heroName" required id="name" name="name">
        </mat-form-field>
        <div
          [hidden]="!heroForm.get('heroName')?.errors?.['required'] ||
            heroForm.get('heroName')?.pristine"> Le nom ne peut pas être vide
        </div>

        <mat-form-field appearance="fill">
          <mat-label for="alterEgo" class="form-label">Alter Ego</mat-label>
          <input matInput formControlName="heroAlterEgo" id="alterEgo" name="alterEgo">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="power" class="form-label">Power</mat-label>
          <mat-select formControlName="heroPower" id="power" class="form-select"
                      name="power" required>
<!--            <mat-option selected value="{{hero.power?.id}}">{{hero.power?.name}}</mat-option>-->
            <mat-option *ngFor="let pow of powers" [value]="pow.id">{{pow.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-group">
          <button type="submit" mat-raised-button color="primary" [disabled]="!heroForm.valid"
                  (click)="save()">
            Update
          </button>
          <button type="button" (click)="goBack()" mat-raised-button color="secondary">Go back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

