/* HeroDetailComponent's private CSS styles */
@import url('https://unpkg.com/bootstrap@5.2/dist/css/bootstrap.min.css');

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid darkgreen;
}

.ng-invalid:not(form) {
  border-left: 5px solid darkred;
}

label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
