
<div>
  <div class="form-container">
    <h2>Admin Login</h2>
    <div class="form">
      <form [formGroup]="adminLoginForm" fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required id="username" name="username">
        </mat-form-field>
        <div
          [hidden]="!adminLoginForm.get('username')?.errors?.['required'] ||
            adminLoginForm.get('username')?.pristine"> Username cannot be empty!
        </div>

        <mat-form-field appearance="fill">
          <mat-label for="password" class="form-label">Password</mat-label>
          <input matInput formControlName="password" id="password" name="password">
        </mat-form-field>
        <div
          [hidden]="!adminLoginForm.get('password')?.errors?.['required'] ||
            adminLoginForm.get('password')?.pristine"> Please enter your password!
        </div>

        <div class="button-group">
          <button type="submit" mat-raised-button color="primary" [disabled]="!adminLoginForm.valid"
                  (click)="login()">
            Log in
          </button>
          <button type="button" (click)="goBack()" mat-raised-button color="secondary">Go back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

