<div class="form-container">
  <!--  {{ model | json}}-->
  <div class="form" [hidden]="submitted">
    <h2 class="mat-title">Hero Form</h2>
    <form [formGroup]="heroForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column">
      <!--        (ngSubmit)="onSubmit(heroForm.get('heroName')!.value,-->
      <!--        heroForm.get('heroPower')!.value, heroForm.get('heroAlterEgo')?.value)"-->
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="heroName" required id="name" name="name">
      </mat-form-field>
      <div
        [hidden]="!heroForm.get('heroName')?.errors?.['required'] ||
          heroForm.get('heroName')?.pristine"> Le nom ne peut pas être vide
      </div>

      <mat-form-field appearance="fill">
        <mat-label for="alterEgo" class="form-label">Alter Ego</mat-label>
        <input matInput formControlName="heroAlterEgo" id="alterEgo" name="alterEgo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label for="power" class="form-label">Hero Power</mat-label>
        <mat-select formControlName="heroPower" id="power" class="form-select"
                    name="power" required>
          <mat-option *ngFor="let pow of powers" [value]="pow.id">{{pow.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button [disabled]="!heroForm.valid" type="submit"
              mat-stroked-button color="primary">Sign-up
      </button>
    </form>
    <!--      Fin du hidden form en dessous-->
  </div>
  <div [hidden]="!submitted">
    <h2>Congratulations! A new hero was created:</h2>
    <div class="row">
      <div class="category">Name</div>
      <div>{{heroForm.get('heroName')?.value}}</div>
    </div>
    <div class="row">
      <div class="category">Alter Ego</div>
      <!-- If value of Alter Ego empty says "it's a secret!" -->
      <div>
        <div *ngIf="!isSecret()">{{getHeroAlterEgo()}}</div>
        <mat-checkbox *ngIf="isSecret()" class="{{secretClass}}"
                      (change)="changeSecret()" checked labelPosition="before">{{secret.value}}
        </mat-checkbox>
        <!--            <ng-template #alterEgoTpl>-->
        <!--              <div>{{getHeroAlterEgo()}}</div>-->
        <!--            </ng-template>-->
      </div>
    </div>
    <div class="row">
      <div class="category">Power</div>
      <div>{{heroPower?.name}}</div>
    </div>
    <div class="button-group">
      <button type="submit" mat-raised-button color="primary" (click)="this.getHeroForm(); this.location?.back();">
        Sign another Hero up
      </button>
      <button *ngIf="this.hero" type="button" mat-raised-button color="warn"
              routerLink="/detail/{{this.hero.id}}">
        Edit this Hero
      </button>
    </div>
  </div>
</div>
