/* AppComponent's private CSS styles */
@use "shared";

.container {
  margin: 1rem;
}

mat-toolbar {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}

.mat-button-toggle {
  background-color: #673ab7;
  color: white;
}

.mat-button-toggle-checked {
  background-color: shared.$accent;
  color: black;
}

mat-button-toggle-group {
  border: none;
}

