<h2>My Heroes</h2>

<!--<div>-->
<!--  <label for="new-hero">Hero name:</label>-->
<!--  <input id="new-hero" #heroName />-->

<!--  <button class="add-button" type="button" (click)="add(heroName.value); heroName.value=''">Add hero</button>-->
<!--</div>-->

<mat-selection-list role="list" [multiple]="false">
  <!-- ngFor fonctionne comme un forEach, à appliquer à un tableau -->
  <mat-list-option *ngFor="let hero of heroes">
    <button mat-raised-button color="primary">
      <a routerLink="/detail/{{hero.id}}">
        <span>{{hero.id}}</span> <span>{{hero.name}}</span>
      </a>
      <mat-icon fontIcon="delete" color="accent" (click)="delete(hero)"></mat-icon>
    </button>
  </mat-list-option>
</mat-selection-list>

<button class="paginationButton" *ngIf="(currentPage != 1) && previousButtonActive" mat-raised-button color="secondary" (click)="goToPreviousPage()">Previous page</button>
<button class="paginationButton" *ngIf="(heroes.length == 15) && nextButtonActive" mat-raised-button color="secondary" (click)="goToNextPage()">Next page</button>

    <!-- Le [class] (class binding) permet d'appliquer une condition à l'application de la classe | Les parenthèses sur
     le click indique que l'on écoute un évènement -->
    <!--    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">-->
