<h2>My Heroes</h2>

<!--<div>-->
<!--  <label for="new-hero">Hero name:</label>-->
<!--  <input id="new-hero" #heroName />-->

<!--  <button class="add-button" type="button" (click)="add(heroName.value); heroName.value=''">Add hero</button>-->
<!--</div>-->

<ul class="heroes">
  <!-- ngFor fonctionne comme un forEach, à appliquer à un tableau -->
  <li *ngFor="let hero of heroes">
    <!-- Le [class] (class binding) permet d'appliquer une condition à l'application de la classe | Les parenthèses sur
     le click indique que l'on écoute un évènement -->
    <!--    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">-->
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> <span>{{hero.name}}</span>
    </a>
    <button type="button" class="delete" title="delete hero" (click)="delete(hero)">X</button>
    <!--    </button>-->
  </li>
</ul>
